  <!-- Botón Instagram -->
    <a href="https://www.instagram.com/mamacoca.dietetica/" class="btn-ig" target="_blank">
        <i class='bx bxl-instagram'></i></a>
    <!-- Barra de navegación -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: rgb(48, 197, 48);">
        <a class="navbar-brand" href="#">Mamá Coca-Dietética🌱🥑</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"  id="navbarSuppertedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" data-scroll href="#home">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="#novedades">Novedades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="#productos">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="#conocenos">Conocenos</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--Contenido -->
    <div class="container-fluid img-fluid" style="background-color: white;">
        <!-- Inicio -->
        <br>
        <div id="home" class="row align-items-center hero">
            <div class="col-lg-3 offset-lg-1  animate__animated animate__fadeInRight" ; id="texto">
                <div class="text-alm">
                    <p><b> ALMACÉN SALUDABLE</b></p>
                    <h1>Mamá Coca</h1>
                    <p> <b>En nuestra tienda podrás encontrar variedad de productos sueltos y saludables,
                            además de
                            productos aptos
                            para
                            el consumo de celíacos, diabéticos y veganos.</b> </p>
                </div>
            </div>

        </div>
    </div>
    <!-- Novedades -->
    <div id="novedades" class="row py-4">
        <div class="col-md-5 offset-md-2 py-3">
            <h2>Novedades</h2>
            <ul class="lista-novedades">
                <li><a href="#modalEjemplo" data-toggle="modal" data-target="#modalEjemplo"><img
                            src="images/wakas-multi.jpg" alt="">Nuevos
                        Ingresos</a></li>
                <li><a href="modalEjemplo1" data-toggle="modal" data-target="#modalEjemplo1"><img
                            src="images/bebida-vegetal.png" alt="">Nuevos
                        Ingresos</a></li>
            </ul>
        </div>
        <!-- Comienza el modal -->
        <div class="modal fade" id="modalEjemplo" data-backdrop="static" data-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-tittle" id="staticBlackdropLabel">Fideos multicereal Wakas</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body"> <img src="images/wakas-multi.jpg" alt="wakas" class="img"> <br> <br><b> Pastas
                            aptas para celíacos, a base de harina de arroz y de maíz. Encontralas
                            en las presentaciones con Quinoa, Amaranto, Chia, Maíz y Kale. Sin lactosa, sin aditivos y
                            sin
                            conservantes.</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalEjemplo1" data-backdrop="static" data-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-tittle" id="staticBlackdropLabel">Bebida Vegetal Vrink</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body"><img src="images/bebida-vegetal.png" alt="vrink" class="img"> <br> <br> <b>
                            Vrink es
                            una bebida de origen vegetal 100% natural con 6 vitaminas,
                            minerales, calcio y zinc. Sin lactosa, sin colesterol, sin TACC y sin conservantes.
                            Hay nueve variedades de Vrink, cuatro de almendras, dos de coco, dos de maní y una de avena.
                        </b>
                    </div>
                </div>
            </div>
        </div>
        <!-- Nuestros clientes -->
        <div id="clientes" class="col-md-3">
            <div class="rounded py-3 clientes">
                <h3 class="text-center">Nuestros Clientes</h3>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="cliente">
                                <h5>"La mejor dietética del barrio"</h5>
                                <p>Nancy, Villa Fiorito</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="cliente">
                                <h5>"La ambientación del lugar me encanta, además de que encuentro todo lo que
                                    busco"</h5>
                                <p>Candela, Alte. Brown</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="cliente">
                                <h5>"Los productos sueltos son de muy buena calidad"</h5>
                                <p>Martín, Temperley</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="cliente">
                                <h5>"El trato al público es excelente"</h5>
                                <p>Daniel, Lomas de Zamora</p>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Anterior</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Siguiente</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Comienza Productos -->
    <div id="productos" class="row align-items-stretch my-4 py-3">
        <div class="col-lg-8 offset-lg-2">
            <h2>Productos</h2>
            <div class="card-deck">
                <div class="card">
                    <img src="images/frutos-secos.png" class="card-img-top" alt="frutos-secos">
                    <div class="card-body">
                        <h5 class="card-tittle">Frutos Secos</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="images/jugo-arandano.jpg" class="card-img-top" alt="jugo-arándano">
                    <div class="card-body">
                        <h5 class="card-tittle">Jugos de Arándano</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="images/jugo-detox.jpg" class="card-img-top" alt="jugo-detox">
                    <div class="card-body">
                        <h5 class="card-tittle">Jugos Detox</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="images/aceite-oliva.jpg" class="card-img-top" alt="ac-oliva">
                    <div class="card-body">
                        <h5 class="card-tittle">Aceites de Oliva</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="productos" class="row align-items-stretch my-4 staff py-3 producto">
        <div class="col-lg-8 offset-lg-2">
            <div class="card-deck">
                <div class="card">
                    <img src="images/mermelada.jpg" class="card-img-top" alt="mermelada">
                    <div class="card-body">
                        <h5 class="card-tittle">Mermeladas</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="images/mieles.jpg" class="card-img-top" alt="miel">
                    <div class="card-body">
                        <h5 class="card-tittle">Mieles</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="images/hierba-paramate.jpg" class="card-img-top" alt="ka-a">
                    <div class="card-body">
                        <h5 class="card-tittle">Hierbas para mate</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="images/cereales2.jpg" class="card-img-top" alt="cereales s-azucar">
                    <div class="card-body">
                        <h5 class="card-tittle">Cereales con y sin Azúcar</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="productos" class="row align-items-stretch my-4 py-3">
        <div class="col-lg-8 offset-lg-2">
            <div class="card-deck">
                <div class="card">
                    <img src="images/diabest.jpg" class="card-img-top" alt="diabest">
                    <div class="card-body">
                        <h5 class="card-tittle">Galletas apto diabéticos</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="images/sta-maria.jpg" class="card-img-top" alt="sta-maria">
                    <div class="card-body">
                        <h5 class="card-tittle">Galletas sin TACC</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="images/Wakas-legu.jpg" class="card-img-top" alt="wakas">
                    <div class="card-body">
                        <h5 class="card-tittle">Fideos de Legumbres sin TACC</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="images/te.jpg" class="card-img-top" alt="té">
                    <div class="card-body">
                        <h5 class="card-tittle">Variedades de té</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Comienza conocenos -->
    <div id="conocenos" class="row py-4">
        <div class="col-md-4 offset-md-2">
            <h2>Vení a Conocernos</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.9280216263555!2d-58.43538208489739!3d-34.706995370476754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccc4c1fcc4197%3A0xa9ad48d541995f9b!2sAv.%20Gral.%20Hornos%201986%2C%20B1821%20Villa%20Fiorito%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1630517831900!5m2!1ses-419!2sar"
                    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy">
                </iframe>
            </div>
        </div>
        <div class="col-md-4 mt-4 mt-sm-0 contacto">
            <h2>Contactanos</h2>
            <form action="/" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Maria" name="nombre">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="apellido">Apellido</label>
                        <input type="text" class="form-control" id="apellido" placeholder="Pérez" name="apellido">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="ejemplo@email.com" name="email">
                    </div>
                    <br>
                    <div class="form-group col-md-6">
                        <label for="tel">Teléfono de Contacto</label>
                        <input type="text" class="form-control" id="tel" placeholder="..." name="tel">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="mensaje" class="mensaje">Mensaje</label>
                        <textarea id="consulta" name="texto" rows="4" cols="60"
                            placeholder="Escribe tu consulta" name="mensaje"></textarea>
                    </div>
                </div>
                <p class="message">{{message}}</p>
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
           
        </div>
    </div>
    <!-- Pie de página -->
    <footer>
        <p class="text-center">Copyright © | 2021 | Todos los Derechos Reservados | Diseñado por Florencia
            Warzel</p>
    </footer>